@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel&family=Crimson+Text:ital@1&family=Space+Mono&display=swap');

:root {
  --mobileS: 425px;
  --mobileL: 576px;
  --tabletS: 768px;
  --tabletL: 992px;
  --laptop: 1200px;
  --desktop: 1400px;;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
}

#main {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

