@import url(https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel&family=Crimson+Text:ital@1&family=Space+Mono&display=swap);
.hintBoxContainer{
    font-family: 'Space Mono', monospace; 
    font-size: .8rem;
    padding: 20px;
    color: white;
    position: absolute;
    background-color: rgb(104, 104, 126);
    -webkit-box-shadow: inset 0px 0px 12px 6px rgba(61, 61, 61, 0.81); 
  box-shadow: inset 0px 0px 12px 6px rgba(0, 0, 0, 0.81);
    top: 20px;
    right: 50px;
    width: 30vw;
  }
  
.sceneHandlerContainer {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-color: #111;
}

.test{
  position: absolute;
  right: 45%;
  top: 45%;
  width: 10vw;
  height: 24vh;
  background-color: red;
}
.startMessageContainer {
  background: url("https://res.cloudinary.com/dcgbmo9ov/image/upload/v1664214084/EnterDarknessGallery/HUD/papiro_fnw0uk.png")
    no-repeat;
  color: white;
  font-size: 24px;
  min-width: 70%;
  min-height: 80%;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 768px) {
    .startMessageContainer {
      min-width: 100%;
    }
  }
.startContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-color: #111;
}

.itemObject{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.pathObject:hover {
  filter: blur(115px) drop-shadow(-10px -10px 75px #ff00ff);
}

.pathObject {
  /* animation:spin 4s linear infinite; */
  border-radius: 50%;
  box-shadow: inset 20px 0 20px rgba(99, 99, 255, 0.466);
}

:root {
  --mobileS: 425px;
  --mobileL: 576px;
  --tabletS: 768px;
  --tabletL: 992px;
  --laptop: 1200px;
  --desktop: 1400px;;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
}

#main {
  width: 100%;
  height: 100%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

p {
  margin: 0;
}


