@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel&family=Crimson+Text:ital@1&family=Space+Mono&display=swap');
body,html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body{
  font-family: 'Cinzel', serif;
  /* font-family: 'Crimson Text', serif;
  font-family: 'Space Mono', monospace; */
}



#return{
  border: none;
  cursor: pointer;
  z-index: 3;
  width: 200px;
  height: 100px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  background: transparent;
  padding: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 10px 10px #696464;
  background-color: rgba(153, 119, 119, 0.534);
}

#return img{
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;

}

#restart{
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 10px 10px #FF4242; 
box-shadow: 0px 0px 10px 10px #FF4242;
  padding: 20px 40px;
  font-family: 'Crimson Text', serif;
  border: none;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 36px;
  background: red;
}

#gameover{
  position: absolute;
  color: white;
  text-align: center;
  z-index: 2;
  font-family: 'Cinzel', serif;
  font-size: 52px;
}


#key{
  width: 80px;
  transform: rotate(-270deg);
  filter: brightness(.8);
}


#countdownWrapper{
  padding-left: 10px;
  -webkit-box-shadow: -1px 3px 17px 18px rgba(140,140,140,1);
-moz-box-shadow: -1px 3px 17px 18px rgba(140,140,140,1);
box-shadow: -1px 3px 17px 18px rgba(140,140,140,1);
  position: absolute;
  width: 375px;
  z-index: 2;
  top: 40px;
  left:40px;
  color: white;
  
  background:hsla(0, 33%, 90%, 0.589)
}

#countdown{
  color: red;
  font-size: 2rem;
}

#countdownWrapper div{
  display: flex;
  align-items: center;
  gap: 16px;
}

#countdownWrapper progress{
  accent-color: black;
  height: 50px;
}

#message{
  background: url("./images/papiro.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1180px; 
  height: 775px;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}

#message p{
  max-width: 65%;
  display: block;
  line-height: 50px;
  color: black;
  font-weight: bold;
  padding: 21px 0px 0px 45px;
}

#message button{
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 16px;
  background: transparent;
  margin-bottom: 50px;
  font-size: 32px;

}

#message button:hover{

  background: rgba(255, 230, 89, 0.692);
}


#hint{
  font-family: 'Space Mono', monospace; 
  padding: 20px;
  color: white;
  position: absolute;
  background-color: rgb(104, 104, 126);
  -webkit-box-shadow: inset 0px 0px 12px 6px rgba(61, 61, 61, 0.81); 
box-shadow: inset 0px 0px 12px 6px rgba(0, 0, 0, 0.81);
  top: 20px;
  right: 50px;
  width: 400px;
}


#alert{
  font-family: 'Cinzel', serif;
  text-align: center;
  padding: 20px;
  color: white;
  position: absolute;
  background-color: rgb(218, 43, 12);
  -webkit-box-shadow: inset 0px 0px 12px 6px rgba(239, 255, 11, 0.81); 
box-shadow: inset 0px 0px 12px 6px rgba(221, 255, 31, 0.81);
  top: 20px;
  right: 50%;
  transform: translate(50%);
  width: 400px;
  font-size: 20px;
}

.rotateLeft{
  transform: scaleX(-1);
}

.rotateRight{
  transform: unset;
}

#keySocket{
  background-color: red;
  position: absolute;
  background-image: url("./images/keyParticles.gif");
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}

#letter{
  transform: skew(303deg, 32deg);
  /* transform: rotate3d(1, 1, 1, 272deg); */
}

#win{
  z-index: 10;
}

#winalert{
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  border-radius: 16px;
  text-align: center;
  padding: 20px;
  color: white;
  position: absolute;
  background-color: hsla(219, 79%, 58%, 0.699);
  -webkit-box-shadow: inset 0px 0px 12px 6px rgba(134, 134, 127, 0.81); 
box-shadow: inset 0px 0px 12px 6px rgba(173, 173, 173, 0.81);
  top: 20px;
  right: 50%;
  transform: translate(50%);
  width: 800px;
  font-size: 26px;
}