@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Crimson+Text:ital@1&family=Space+Mono&display=swap');
body,html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body{
  font-family: 'Cinzel', serif;
  /* font-family: 'Crimson Text', serif;
  font-family: 'Space Mono', monospace; */
}



#return{
  border: none;
  cursor: pointer;
  z-index: 2;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent;
}

#restart{
  font-family: 'Crimson Text', serif;
  border: none;
  cursor: pointer;
  z-index: 2;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  background: transparent;
}



#key{
  transform: rotate(-270deg);
  filter: brightness(.5);
}

#return img{
  position: relative;
  width: 100%;
  inset: 0;
  background-color: white;
}

#countdownWrapper{
  position: absolute;
  z-index: 2;

  color: white;
}

#message{
  background: url("./images/papiro.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1180px; 
  height: 775px;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}

#message p{
  max-width: 65%;
  display: block;
  line-height: 50px;
  color: black;
  font-weight: bold;
  padding: 21px 0px 0px 45px;
}

#message button{
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 16px;
  background: transparent;
  margin-bottom: 50px;
  font-size: 32px;

}

#message button:hover{

  background: rgba(255, 230, 89, 0.692);
}


#hint{
  font-family: 'Space Mono', monospace; 
  padding: 20px;
  color: white;
  position: absolute;
  background-color: rgb(104, 104, 126);
  -webkit-box-shadow: inset 0px 0px 12px 6px rgba(61, 61, 61, 0.81); 
box-shadow: inset 0px 0px 12px 6px rgba(0, 0, 0, 0.81);
  top: 20px;
  right: 50px;
  width: 400px;
}


.rotateLeft{
  transform: scaleX(-1);
}

.rotateRight{
  transform: unset;
}